.powerful-transform-container {
  @include flex-column-center;

  .transform-wrapper {
    svg {
      font-size: 1.6em;
    }
  }

  .jet-stream {
    position: absolute;
    bottom: 25%;
    right: 43%;
    border: 3px solid crimson;
    height: 12%;
  }

  .shrink-wrapper {
    svg {
      position: absolute;
      bottom: 20%;
      right: 45.3%;
      transform: rotate(90deg);
    }
  }

  .inverse-wrapper {
    svg {
      font-size: 1.6em;
      padding: 3px;
      background-color: black;
      position: absolute;
      bottom: 41%;
      left: 20%;
    }
  }
}
